<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/base">
<head>
    <title>DashBoard</title>
</head>
<body>

<section layout:fragment="content">

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">

                <!-- Page-Title -->
                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <ol class="breadcrumb pull-right">
                                <li><a href="#">기가골프 제품 등록 시스템</a></li>
                                <li class="active">사용자 등록</li>
                            </ol>
                            <h4 class="page-title">사용자 등록</h4>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box">
                            <h4 class="m-t-0 header-title"><b>사용자 등록</b></h4>

                            <div class="row">
                                <form class="form-horizontal" role="form" method="post"
                                      th:axtion="@{/user-register}" th:object="${userRegisterForm}">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label" for="login-id">로그인ID</label>
                                        <div class="col-md-10">
                                            <input type="text" id="login-id" th:field="*{loginId}" th:disabled="!*{id eq null}"
                                                   class="form-control" placeholder="로그인ID">
                                            <ul th:if="${#fields.hasErrors('loginId')}" class="parsley-errors-list filled">
                                                <li th:errors="*{loginId}" class="parsley-required"></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div th:if="!*{id eq null}">
                                        <input type="hidden" th:field="*{loginId}"/>
                                    </div>
                                    <div class="form-group" th:if="*{id eq null}">
                                        <label class="col-md-2 control-label" for="password">비밀번호</label>
                                        <div class="col-md-10">
                                            <input type="password" id="password" th:field="*{password}"
                                                   class="form-control" placeholder="비밀번호">
                                            <ul th:if="${#fields.hasErrors('password')}" class="parsley-errors-list filled">
                                                <li th:errors="*{password}" class="parsley-required"></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="form-group" id="divRole">
                                        <label class="col-md-2 control-label" for="role">권한</label>
                                        <div class="col-md-10">
                                            <select id="role" class="form-control select" style="background-color: lightgrey"
                                                    th:field="*{role}">
                                                <option value="ROLE_AGENCY" th:selected="${true}">대리점</option>
                                                <option value="ROLE_ADMIN">관리자</option>
                                                <option value="ROLE_USER">개인</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" id="divAgencyName">
                                        <label class="col-md-2 control-label" for="agency-name">가맹점명</label>
                                        <div class="col-md-10">
                                            <input type="text" id="agency-name" th:field="*{agencyName}"
                                                   class="form-control" placeholder="가맹점명">
                                            <ul th:if="${#fields.hasErrors('agencyName')}" class="parsley-errors-list filled">
                                                <li th:errors="*{agencyName}" class="parsley-required"></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="form-group" id="divPresidentName">
                                        <label class="col-md-2 control-label" for="president-name">대표자명</label>
                                        <div class="col-md-10">
                                            <input type="text" id="president-name" th:field="*{presidentName}"
                                                   class="form-control" placeholder="대표자명">
                                            <ul th:if="${#fields.hasErrors('presidentName')}" class="parsley-errors-list filled">
                                                <li th:errors="*{presidentName}" class="parsley-required"></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="form-group" id="divAgencyAddress">
                                        <label class="col-md-2 control-label" for="agency-address">주소</label>
                                        <div class="col-md-10">
                                            <input type="text" id="agency-address" th:field="*{agencyAddress}"
                                                   class="form-control" placeholder="주소">
                                            <ul th:if="${#fields.hasErrors('agencyAddress')}" class="parsley-errors-list filled">
                                                <li th:errors="*{agencyAddress}" class="parsley-required"></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="form-group" id="divBusinessNumber">
                                        <label class="col-md-2 control-label" for="business-number">사업자번호</label>
                                        <div class="col-md-10">
                                            <input type="text" id="business-number" th:field="*{businessNumber}"
                                                   class="form-control" placeholder="사업자번호">
                                            <ul th:if="${#fields.hasErrors('businessNumber')}" class="parsley-errors-list filled">
                                                <li th:errors="*{businessNumber}" class="parsley-required"></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="form-group" id="divPhoneNumber">
                                        <label class="col-md-2 control-label" for="phone-number">대표전화</label>
                                        <div class="col-md-10">
                                            <input type="text" id="phone-number" th:field="*{phoneNumber}"
                                                   class="form-control" placeholder="대표전화">
                                            <ul th:if="${#fields.hasErrors('phoneNumber')}" class="parsley-errors-list filled">
                                                <li th:errors="*{phoneNumber}" class="parsley-required"></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label" for="president-name">담당자명</label>
                                        <div class="col-md-10">
                                            <input type="text" id="person-in-charge" th:field="*{personInCharge}"
                                                   class="form-control" placeholder="담당자명">
                                            <ul th:if="${#fields.hasErrors('personInCharge')}" class="parsley-errors-list filled">
                                                <li th:errors="*{personInCharge}" class="parsley-required"></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="form-group" id="divAddress" style="display: none;">
                                        <label class="col-md-2 control-label" for="address">주소</label>
                                        <div class="col-md-10">
                                            <input type="text" id="address" th:field="*{address}"
                                                   class="form-control" placeholder="주소 : 간단히 입력해주세요.">
                                            <ul th:if="${#fields.hasErrors('address')}" class="parsley-errors-list filled">
                                                <li th:errors="*{address}" class="parsley-required"></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="form-group" id="divActivation">
                                        <label class="col-md-2 control-label" for="activation">승인여부</label>
                                        <div class="col-md-10">
                                            <select id="activation" class="form-control select" style="background-color: lightgrey"
                                                    th:field="*{activation}">
                                                <option value="1">승인</option>
                                                <option value="0">미승인</option>
                                            </select>
                                        </div>
                                    </div>

                                    <input type="hidden" name="id" th:field="*{id}"/>

                                    <div style="text-align: right;">
                                        <button type="submit" class="btn btn-purple waves-effect waves-light">등록</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Sweet Alert js -->
    <script src="/plugins/bootstrap-sweetalert/sweet-alert.min.js"></script>

    <script type="text/javascript" th:inline="javascript">
        $("#role").change(function () {

            if ($(this).val() != "ROLE_USER") {

                $("#divAddress").css("display", "none");

                $("#divAgencyName").css("display", "block");
                $("#divPresidentName").css("display", "block");
                $("#divAgencyAddress").css("display", "block");
                $("#divBusinessNumber").css("display", "block");
                $("#divPhoneNumber").css("display", "block");
            } else {

                $("#divAddress").css("display", "block");

                $("#divAgencyName").css("display", "none");
                $("#divPresidentName").css("display", "none");
                $("#divAgencyAddress").css("display", "none");
                $("#divBusinessNumber").css("display", "none");
                $("#divPhoneNumber").css("display", "none");
            }
        });

        $(document).ready(function () {
            $("#role").change();
            /*<![CDATA[*/
            var result = [[${result}]];
            /*]]>*/
            if (result == "success") {
                setTimeout(function() {
                    swal({
                        title: "등록되었습니다!",
                        type: "success"});
                }, 1000);
            }
        });
    </script>
    <footer class="footer text-right">
        기가골프 코리아. 주소: 경기도 오산시 수청로 8번길 27-8 (우) 18110. 전화: 1544-3168
        <!--2016 © 기가골프.-->
    </footer>
</section>
</body>
</html>