<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/base">
<head>
    <title>기가골프 제품 등록 시스템 - 제품 판매 목록</title>
</head>
<body>

<section layout:fragment="content">

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">

                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <ol class="breadcrumb pull-right">
                                <li><a href="#">기가골프 제품 등록 시스템</a></li>
                                <li class="active">제품 판매 목록</li>
                            </ol>
                            <h4 class="page-title">제품 판매 목록</h4>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box table-responsive">
                            <h4 class="m-t-0 header-title"><b>제품 판매 목록</b></h4>

                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>대리점명</th>
                                    <th>시리얼번호</th>
                                    <th>판매일자</th>
                                    <th>등록 사용자</th>
                                    <th>등록일자</th>
                                    <th>수정 사용자</th>
                                    <th>수정일자</th>
                                    <th>수정/삭제</th>
                                </tr>
                                </thead>

                                <tr th:each="sale : ${saleDTOList}">
                                    <td th:text="${sale.agencyName}"></td>
                                    <td th:text="${sale.serialNumber}"></td>
                                    <td th:text="${sale.salesOn}"></td>
                                    <td th:text="${sale.createdBy}"></td>
                                    <td th:text="${sale.createdOn} ? ${#temporals.format(sale.createdOn, 'yyyy-MM-dd')} : ''"></td>
                                    <td th:text="${sale.lastModifiedBy}"></td>
                                    <td th:text="${sale.lastModifiedOn} ? ${#temporals.format(sale.lastModifiedOn, 'yyyy-MM-dd')} : ''"></td>
                                    <td class="actions">
                                        <a th:href="${'javascript:edit(' + sale.id + ')'}"
                                                class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                                        <a th:href="${'javascript:remove(' + sale.id + ')'}"
                                           class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>

                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Datatables-->
    <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="/plugins/datatables/buttons.bootstrap.min.js"></script>
    <script src="/plugins/datatables/jszip.min.js"></script>
    <script src="/plugins/datatables/pdfmake.min.js"></script>
    <script src="/plugins/datatables/vfs_fonts.js"></script>
    <script src="/plugins/datatables/buttons.html5.min.js"></script>
    <script src="/plugins/datatables/buttons.print.min.js"></script>
    <script src="/plugins/datatables/dataTables.fixedHeader.min.js"></script>
    <script src="/plugins/datatables/dataTables.keyTable.min.js"></script>
    <script src="/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="/plugins/datatables/responsive.bootstrap.min.js"></script>
    <script src="/plugins/datatables/dataTables.scroller.min.js"></script>


    <!-- Datatable init js -->
    <script src="/assets/pages/datatables.init.js"></script>

    <!-- Sweet Alert js -->
    <script src="/plugins/bootstrap-sweetalert/sweet-alert.min.js"></script>
    <!--<script src="/assets/pages/jquery.sweet-alert.init.js"></script>-->

    <script type="text/javascript">

        $('#datatable').dataTable({
            "order": [[2, "desc"]]
        });

        var edit = function (id) {
            location.replace("/sale-register?id=" + id);
        };

        var remove = function (id) {

            //Warning Message
            swal({
                title: "삭제하시겠습니까?",
                text: "삭제 후 되돌릴 수 없습니다.",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: 'btn-warning',
                confirmButtonText: "네. 삭제하겠습니다.",
                cancelButtonText: "아니오.",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    type: "DELETE",
                    url: "/sale?id=" + id,
                    success: function () {
                        swal({
                                    title: "삭제되었습니다!",
                                    type: "success"
                                },
                                function () {
                                    location.reload();
                                });
                    },
                    error: function() {
                        alert("실패");
                    }
                });

            });
        };
    </script>
    <footer class="footer text-right">
        기가골프 코리아. 주소: 경기도 오산시 수청로 8번길 27-8 (우) 18110. 전화: 1544-3168
        <!--2016 © 기가골프.-->
    </footer>
</section>
</body>
</html>